.navbar{
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 35px;

    background:var(--card);

    border-bottom:1px solid var(--border);
}

.search{
    width:430px;
    display:flex;
    align-items:center;
    gap:12px;

    background:var(--bg);

    padding:12px 18px;
    border-radius:14px;

    border:1px solid var(--border);
}

.search svg{
    color:gray;
}

.search input{
    width:100%;
    border:none;
    outline:none;
    background:none;
    color:var(--text);
    font-size:15px;
}

.search input::placeholder{
    color:#94a3b8;
}

.right{
    display:flex;
    align-items:center;
    gap:25px;
}

.bell{
    font-size:22px;
    color:var(--text);
    cursor:pointer;
}

.profile{
    display:flex;
    align-items:center;
    gap:12px;
}

.profile svg{
    font-size:42px;
    color:#7c3aed;
}

.profile span{
    font-weight:600;
    color:var(--text);
}

.theme-btn{
    width:45px;
    height:45px;
    border:none;
    border-radius:50%;
    background:#7c3aed;
    color:white;
    cursor:pointer;
    font-size:18px;
}